@media only screen and (min-width: 50em) {
    .box-text {
        font-size: larger;
    }
    .menuBtn {
        display: none;
    }
    nav {
        width: 100%;
        position: absolute;
        opacity: 85%;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul li a {
        font-size: large;
    }
    .banner img {
        width: 100%;
        height: 350px;
    }
    .weatherSumary {
        position: absolute;
        top: 250px;
        max-width: 20rem;
        margin-left: 1rem;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem 0;
    }
}