/* Medium Views ******************************/

@media only screen and (min-width: 28rem) {
    h1 {
        font-size: 2.5rem;
    }
    header {
        display: flex;
        flex-direction: row;
    }
    header ul li a img {
        max-width: 40px;
    }
    nav button {
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    nav ul li a {
        border: none;
        font-size: normal;
    }
    .banner img {
        width: 100%;
        height: 20rem;
        margin: 0;
        padding: 0;
    }
    #weatherDay div {
        width: 15%;
    }
    .sum {
        display: flex;
        flex-direction: row;
    }
    .contact {
        font-size: medium;
    }
    #map {
        min-width: 20em;
        min-height: 25em;
    }
    .cards-cozumel {
        display: flex;
        flex-wrap: wrap;
    }
}


/*******************************************************/